<h1>All Customers</h1>
<%= render @customers %>
<p><%= link_to "View customers without email", customers_missing_email_path %></p>
<p><%= link_to "View alphabetized customers", customers_alphabetized_path %></p>
